.filterSideBar-container {
  padding: 1rem;
}

.filterSideBar__job-title,
.filterSideBar__region-title,
.filterSideBar__rank-title {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #caaf75;
}

/* CLASS */
.filterSideBar__job_container {
  display: flex;
  flex-wrap: wrap;
}

.filterSideBar__job_container label {
  display: none;
}

.filterSideBar__job input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 64px;
  height: 64px;
  background-size: contain;
  mix-blend-mode: luminosity;
  cursor: pointer;
}

#GLD {
  background-image: url("../images/class/GLD.png");
}
#PUG {
  background-image: url("../images/class/PUG.png");
}
#MRD {
  background-image: url("../images/class/MRD.png");
}
#LNC {
  background-image: url("../images/class/LNC.png");
}
#ARC {
  background-image: url("../images/class/ARC.png");
}
#ROG {
  background-image: url("../images/class/ROG.png");
}
#CNJ {
  background-image: url("../images/class/CNJ.png");
}
#THM {
  background-image: url("../images/class/THM.png");
}
#ACN {
  background-image: url("../images/class/ACN.png");
}

.filterSideBar__job input[type="checkbox"]:checked {
  mix-blend-mode: normal;
}

/* REGION */
.filterSideBar__region {
  margin-top: 2rem;
}

#imageUrl,
#rank {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  background: #454445;
  color: #fff;
  padding-left: 1rem;
}

/* RANK */
.filterSideBar__rank {
  margin-top: 2rem;
}

/* FILTER */
.fa-filter {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.fa-filter:hover {
  cursor: pointer;
  color: goldenrod;
}
@media (min-width: 810px) {
  .fa-filter {
    display: none !important;
  }
}
