.monsterList {
  padding: 1rem;
}

.monsterList__title {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #caaf75;
}

.monsterList__item {
  margin-bottom: 1rem;
}

.monsterList__item input {
  margin-right: 0.5rem;
}
