.navBar-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar-container__account-separator {
  margin: 0 10px;
}
