.navBar-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-container__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* DESKTOP */
@media (min-width: 810px) {
  .navBar-container__account {
    display: none;
  }
}

/* MOBILE */
.navBar-container {
  height: 55px;
}

.navBar-container__account {
  display: flex;
  gap: 1rem;
}
